.header {
    left: 0;
    top: 0;
    padding: 30px 50px;
    height: 45px;
    background-color: #fbfafe;
    display: block;
    position: fixed; /* 또는 'absolute' */
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 요소들보다 앞에 위치하도록 z-index 설정 */
}

.header-top {
    display: flex;
}

.header-top-left {
    float: left;
    width: 86%;
    text-decoration: none;
}

.header-top-right {
    padding-right: 20px;
    text-align: right;
    text-decoration: none;
}
.login {
    text-decoration: none;
    color: #35414b;
    padding-right: 50px;
    font-weight: 700;
}

.signup {
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid #ece5ff;
    background-color: #ece5ff;
    color: #794cff;
}
