.header {
    left: 0;
    top: 0;
    height: 105px;
    background-color: #fbfafe;
    display: block;
    position: fixed;
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 요소들보다 앞에 위치하도록 z-index 설정 */
}

.header-top {
    display: flex;
    padding: 30px 50px;
    padding-bottom: 0px;
    justify-content: space-between;
}

.header-top-left {
    float: left;
    text-decoration: none;
}

.header-top-right {
    padding-right: 20px;
    text-align: right;
    text-decoration: none;
}
.login {
    text-decoration: none;
    color: #35414b;
    padding-right: 50px;
    font-weight: 700;
}

.signup {
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid #ece5ff;
    background-color: #ece5ff;
    color: #794cff;
}

.nickname,
.menu-options {
    width: 100px;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #794cff;
    text-align: center;
    font-size: 16px;
    color: #794cff;
    border-radius: 4px;
    font-weight: 700;
}

.menu-options {
    position: absolute;
}
.menu-options li {
    align-items: center;
    margin: 10px;
}

.menu-options button {
    border: transparent;
}

.dropdown-menu img {
    margin-left: 10px;
}
